---
title : Blog
---
<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
    {% css %}
      {% include "styles/tailwind.css" | safe %}
    {% endcss %}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    <title>{{ title }}</title>
  </head>
  <body>
    <main id="main">
      {{ content }}
    </main>
  </body>
</html>
