<header class="bg-white border-b shadow-sm">
  <div class="b-container flex flex-wrap items-center justify-between px-5 lg:px-10 py-2">
    <a href="/" class="flex items-center">Home</a>
  </div>
</header>