@import "./container.css";
@import "./navbar.css";
@import "./focusable.css";
@import "./button.css";

.skip-link {
  clip: auto;
  block-size: auto;
  inline-size: auto;
  overflow: visible;
  position: absolute;
  @apply bg-surface text-on-surface p-5 rounded-none text-xl;
  &:not(:focus) {
    clip: rect(0 0 0 0);
    block-size: auto;
    inline-size: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
  }
}
